html, body{
	height: 100%;
}
* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: inherit;
	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	text-align: inherit;
	text-decoration: inherit;
	color: inherit;
	background-color: transparent;
}
html{
	font-size: 16px;
	-webkit-text-size-adjust: 100%;
}
body{
	background-color: #000;
	font-size: 1rem;
	line-height: 1.5rem;
	font-weight: 400;
	font-style: normal;
	vertical-align: top;
	font-family: 'Exo 2', sans-serif;
	text-align: left;
	text-decoration: none;
	color: #ccc;
}
.disableElasticScrolling body{
	overflow: hidden;
}
.main{
	padding: 0;
}
.sidebar{
	position: absolute;
	top: 0;
	background-color: #666;
	color: #333;
	padding: 1rem;
	height: auto !important;
	min-height: 100%;
}
.dataCanvas{
	display: block;
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.125);
}
.viewport{
	display: block;
	width: 100%;
	height: 100%;
}

.settingsToggle{
	position: fixed;
	top: 0;
	right: 0;
	padding: 1.5rem;
	z-index: 2;
}

.icon{
	display: inline-block;
	height: 2rem;
	width: 2rem;
	line-height: 2rem;
	text-align: center;
	font-size: 1.5rem;
	border: 2px solid #999;
	border-radius: 0.5rem;
}
.icon.fa:before{
	display: block;
	line-height: 1.75rem;
	vertical-align: top;
	color: #999;
}

.form-group label,
.form-check label {
	user-select: none;
}

.row > .btn{
	padding-left: 0;
	padding-right: 0;
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
	.sidebar{
		position: relative;
		overflow-y: auto;
		overflow-x: hidden;
		max-height: 100%;
	}
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}
